# Combine CRSP and Compustat files

The idea of this notebook is to combine the CRSP and Compustat files into one file that contains everything we need for the rest of the analysis.
Read and write times will be annoying but it is convenient to have everything in one place.
The alternative is infinite joins whenever we want to investigate something (this works a little better in STATA as read/write is faster -- but then we'd have to use STATA).

In [1]:
import os
import pandas as pd

pd.__version__

'0.22.0'

## CRSP

In [2]:
%time crsp = pd.read_csv("C:/Data/CRSP/20180219_CRSP_196201_201712.csv")

<string>:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 13.3 s

In [3]:
crsp.shape

(3153678, 27)

In [4]:
crsp.columns

Index(['PERMNO', 'date', 'SHRCD', 'EXCHCD', 'SICCD', 'TICKER', 'COMNAM',
       'CUSIP', 'DCLRDT', 'DLSTCD', 'PAYDT', 'DISTCD', 'DIVAMT', 'FACPR',
       'FACSHR', 'ACPERM', 'DLRET', 'PRC', 'VOL', 'RET', 'SHROUT', 'CFACPR',
       'CFACSHR', 'SPREAD', 'vwretd', 'ewretd', 'sprtrn'],
      dtype='object')

We only want Share Code (`SHRCD`) 10 and 11 and Exchange Code 1, 2, or 3.

In [5]:
ix = ((crsp.SHRCD==10) | (crsp.SHRCD==11)) & ((crsp.EXCHCD==1) | (crsp.EXCHCD==2) | (crsp.EXCHCD==3))

In [6]:
ix.sum(), crsp.PERMNO.count()

(3153678, 3153678)

In [7]:
crsp = crsp[ix].drop("SHRCD", axis=1)

Converting the date integer to a date-aware object takes some time but it is helpful for grabbing the years and months later.

In [8]:
crsp.date = crsp.date.astype(str)
crsp.date = pd.to_datetime(crsp.date)
crsp.date.min(), crsp.date.max()

(Timestamp('1962-01-31 00:00:00'), Timestamp('2017-12-29 00:00:00'))

In [9]:
crsp["RET"] = pd.to_numeric(crsp.RET, errors="coerce")

There should not be duplicate `PERMNO`-`date` pairs. Including distribution information results in some duplicates. Duplicates occur when a stock makes multiple types of distributions in the same month. For example, a cash dividend and a stock dividend. CRSP has a lists of [common distribution codes](http://www.crsp.com/products/documentation/distribution-codes) and [common delisting codes](http://www.crsp.com/products/documentation/delisting-codes). The rows have the same returns and shares outstanding etc.

In [10]:
x = crsp[["PERMNO", "date"]].duplicated(keep="first")
# y = crsp[["PERMNO", "date"]].duplicated(keep="last")
# ix = x | y
# crsp[ix].head(n=200).set_index(["PERMNO", "date"])

In [11]:
crsp = crsp[~x]

In [12]:
crsp.PERMNO.count()

3134786

In [13]:
#crsp[crsp.TICKER=="F"].set_index(["date",])[codes].to_csv("~/Desktop/F.csv")  # [["PERMNO", "DISTCD", "FACPR", "FACSHR", "DLRET", "PRC", "RET", "SHROUT"]]

## Holding Period

Annually rebalanced portfolios are held from July of year $t$ to June of year $t+1$.

In [14]:
crsp["HP"] = crsp.date.dt.year

In [15]:
ix = crsp.date.dt.month<7
crsp.loc[ix, "HP"] = crsp.loc[ix, "HP"] - 1

In [16]:
crsp[crsp.PERMNO==10001][["PERMNO", "date", "HP"]]

     PERMNO       date    HP
18    10001 1986-01-31  1985
19    10001 1986-02-28  1985
20    10001 1986-03-31  1985
21    10001 1986-04-30  1985
22    10001 1986-05-30  1985
23    10001 1986-06-30  1985
24    10001 1986-07-31  1986
25    10001 1986-08-29  1986
26    10001 1986-09-30  1986
27    10001 1986-10-31  1986
28    10001 1986-11-28  1986
29    10001 1986-12-31  1986
30    10001 1987-01-30  1986
31    10001 1987-02-27  1986
32    10001 1987-03-31  1986
33    10001 1987-04-30  1986
34    10001 1987-05-29  1986
35    10001 1987-06-30  1986
36    10001 1987-07-31  1987
37    10001 1987-08-31  1987
38    10001 1987-09-30  1987
39    10001 1987-10-30  1987
40    10001 1987-11-30  1987
41    10001 1987-12-31  1987
42    10001 1988-01-29  1987
43    10001 1988-02-29  1987
44    10001 1988-03-31  1987
45    10001 1988-04-29  1987
46    10001 1988-05-31  1987
47    10001 1988-06-30  1987
..      ...        ...   ...
370   10001 2015-03-31  2014
371   10001 2015-04-30  2014
372   10001 2015-05-29  2014
373   10001 2015-06-30  2014
374   10001 2015-07-31  2015
375   10001 2015-08-31  2015
376   10001 2015-09-30  2015
377   10001 2015-10-30  2015
378   10001 2015-11-30  2015
379   10001 2015-12-31  2015
380   10001 2016-01-29  2015
381   10001 2016-02-29  2015
382   10001 2016-03-31  2015
383   10001 2016-04-29  2015
384   10001 2016-05-31  2015
385   10001 2016-06-30  2015
386   10001 2016-07-29  2016
387   10001 2016-08-31  2016
388   10001 2016-09-30  2016
389   10001 2016-10-31  2016
390   10001 2016-11-30  2016
391   10001 2016-12-30  2016
392   10001 2017-01-31  2016
393   10001 2017-02-28  2016
394   10001 2017-03-31  2016
395   10001 2017-04-28  2016
396   10001 2017-05-31  2016
397   10001 2017-06-30  2016
398   10001 2017-07-31  2017
399   10001 2017-08-31  2017

[380 rows x 3 columns]

## Market Equity

CRSP will use a negative sign to indicate prices inferred from bid/ask spreads. This does not mean the price is negative.

In [17]:
crsp["ME"] = crsp.PRC.abs() * crsp.SHROUT / 1000

In [18]:
crsp.ME.isna().sum()

37682

We can compare our breakpoints to those from Kenneth French.
Since we use quantiles, it is enough to check the number of firms each month.
His [website](http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/Data_Library/det_me_breakpoints.html) says closed end funds and REITs omitted, but CRSP `shrcd` 10 or 11 should [take care](http://www.crsp.com/products/documentation/data-definitions-1) of this.

In [19]:
nyse = crsp[crsp.EXCHCD==1]

grp = nyse[["date", "ME"]].groupby("date")
del nyse
brk = grp.quantile(pd.np.array(range(1, 21))/20).unstack()
brk["N"] = grp.count()["ME"]

In [20]:
brk.to_csv("C:/Data/Thesis/Brks_Months_ME.csv")

We want ME from June and December for $Size$ and $BM$ characteristics.
June 1999 ME is used to assign the $Size$ bucket for July 1999 to June 2000 (HP=1999).

In [21]:
jun = crsp[crsp.date.dt.month==6][["EXCHCD", "date", "HP", "PERMNO", "ME"]]
jun["HP"] = jun.HP + 1  # we want to use the previous June for the next holding period
nyse = jun[jun.EXCHCD==1]  # NYSE stocks are EXCHCD 1

In [22]:
jun.date.min(), jun.date.max()

(Timestamp('1962-06-29 00:00:00'), Timestamp('2017-06-30 00:00:00'))

In [23]:
jun = jun.rename(columns={"ME": "ME_Jun"})
crsp = crsp.merge(jun[["PERMNO", "HP", "ME_Jun"]], on=["PERMNO", "HP"], how="left")

In [24]:
dec = crsp[crsp.date.dt.month==12][["HP", "PERMNO", "ME"]]
dec.HP = dec.HP + 1  # we want to use the previous Dec for the next holding period
dec = dec.rename(columns={"ME": "ME_Dec"})
crsp = crsp.merge(dec[["PERMNO", "HP", "ME_Dec"]], on=["PERMNO", "HP"], how="left")

While we hold buckets constant for the holding period, a stock's weight within a bucket will change each month because returns are different for each stock.

In [25]:
crsp["Ri"] = crsp.RET + 1
crsp["L1_Ri"] = crsp.groupby(["PERMNO", "HP"]).Ri.shift(1)
crsp["RiFctr"] = crsp.groupby(["PERMNO", "HP"]).L1_Ri.cumprod()
crsp["Size"] = crsp.ME_Jun

ix = crsp.date.dt.month!=7
crsp.loc[ix, "Size"] = crsp.ME_Jun[ix] * crsp.RiFctr[ix]

In [26]:
crsp.head(n=50)[["PERMNO", "date", "HP", "Ri", "L1_Ri", "ME_Jun", "RiFctr", "Size"]]

,PERMNO,date,HP,Ri,L1_Ri,ME_Jun,RiFctr,Size
0,10000,1986-01-31,1985,NaN,NaN,NaN,NaN,NaN
1,10000,1986-02-28,1985,0.742857,NaN,NaN,NaN,NaN
2,10000,1986-03-31,1985,1.365385,0.742857,NaN,0.742857,NaN
3,10000,1986-04-30,1985,0.901408,1.365385,NaN,1.014286,NaN
4,10000,1986-05-30,1985,0.777344,0.901408,NaN,0.914285,NaN
5,10000,1986-06-30,1985,0.994975,0.777344,NaN,0.710714,NaN
6,10000,1986-07-31,1986,0.919192,NaN,11.734594,NaN,11.734594
7,10000,1986-08-29,1986,0.384615,0.919192,11.734594,0.919192,10.786345
8,10000,1986-09-30,1986,0.942857,0.384615,11.734594,0.353535,4.148590
9,10000,1986-10-31,1986,0.757576,0.942857,11.734594,0.333333,3.911527
10,10000,1986-11-28,1986,1.060000,0.757576,11.734594,0.252525,2.963279
11,10000,1986-12-31,1986,0.622642,1.060000,11.734594,0.267677,3.141076
12,10000,1987-01-30,1986,0.787879,0.622642,11.734594,0.166667,1.955766
13,10000,1987-02-27,1986,1.000000,0.787879,11.734594,0.131313,1.540907
14,10000,1987-03-31,1986,0.615385,1.000000,11.734594,0.131313,1.540907
15,10000,1987-04-30,1986,0.937500,0.615385,11.734594,0.080808,0.948251
16,10000,1987-05-29,1986,0.933333,0.937500,11.734594,0.075758,0.888985
17,10000,1987-06-30,1986,NaN,0.933333,11.734594,0.070707,0.829719
18,10001,1986-01-31,1985,NaN,NaN,NaN,NaN,NaN
19,10001,1986-02-28,1985,1.020408,NaN,NaN,NaN,NaN
20,10001,1986-03-31,1985,1.025200,1.020408,NaN,1.020408,NaN
21,10001,1986-04-30,1985,1.009901,1.025200,NaN,1.046122,NaN
22,10001,1986-05-30,1985,0.990196,1.009901,NaN,1.056480,NaN
23,10001,1986-06-30,1985,0.986931,0.990196,NaN,1.046122,NaN
24,10001,1986-07-31,1986,0.989796,NaN,6.033125,NaN,6.033125
25,10001,1986-08-29,1986,1.072165,0.989796,6.033125,0.989796,5.971563
26,10001,1986-09-30,1986,0.996923,1.072165,6.033125,1.061225,6.402501
27,10001,1986-10-31,1986,1.039216,0.996923,6.033125,1.057959,6.382800
28,10001,1986-11-28,1986,1.056604,1.039216,6.033125,1.099448,6.633108
29,10001,1986-12-31,1986,1.015000,1.056604,6.033125,1.161681,7.008569
30,10001,1987-01-30,1986,0.964286,1.015000,6.033125,1.179107,7.113697
31,10001,1987-02-27,1986,0.925926,0.964286,6.033125,1.136996,6.859639
32,10001,1987-03-31,1986,1.036800,0.925926,6.033125,1.052774,6.351518
33,10001,1987-04-30,1986,0.960784,1.036800,6.033125,1.091516,6.585254
34,10001,1987-05-29,1986,0.928571,0.960784,6.033125,1.048711,6.327006
35,10001,1987-06-30,1986,1.051429,0.928571,6.033125,0.973803,5.875075
36,10001,1987-07-31,1987,1.021277,NaN,5.822125,NaN,5.822125
37,10001,1987-08-31,1987,1.083333,1.021277,5.822125,1.021277,5.946002
38,10001,1987-09-30,1987,0.977692,1.083333,5.822125,1.106383,6.441501
39,10001,1987-10-30,1987,1.020000,0.977692,5.822125,1.081702,6.297804
40,10001,1987-11-30,1987,0.970588,1.020000,5.822125,1.103336,6.423760
41,10001,1987-12-31,1987,0.966465,0.970588,5.822125,1.070885,6.234824
42,10001,1988-01-29,1987,1.063830,0.966465,5.822125,1.034972,6.025739
43,10001,1988-02-29,1987,1.080000,1.063830,5.822125,1.101035,6.410362
44,10001,1988-03-31,1987,0.923704,1.080000,5.822125,1.189118,6.923191
45,10001,1988-04-29,1987,1.030612,0.923704,5.822125,1.098393,6.394979
46,10001,1988-05-31,1987,1.019802,1.030612,5.822125,1.132017,6.590742
47,10001,1988-06-30,1987,0.987961,1.019802,5.822125,1.154433,6.721252
48,10001,1988-07-29,1988,1.030000,NaN,6.200000,NaN,6.200000
49,10001,1988-08-31,1988,1.029126,1.030000,6.200000,1.030000,6.386000

Breakpoints are decided by only NYSE stocks.

In [27]:
grp = nyse[~nyse.ME.isna()][["HP", "ME"]].groupby("HP")  # grouped objects perform operations on the grouped column/variable
del nyse
brk = grp.quantile(pd.np.array(range(1, 21))/20).unstack()  # 5% to 100% in 5% increments
#brk = brk.reset_index("date")  # grab the date column out of the index
#brk["HP"] = brk.date.dt.year + 1  # create holding period from the date
#brk = brk.drop("date", axis=1).set_index("HP")  # we don't want the date column anymore
brk.columns = brk.columns.droplevel(0)  # drop the needless "ME" top-level column index

In [28]:
brk.head(n=10)

,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,0.95,1.0
HP,,,,,,,,,,,,,,,,,,,,
1962,6.799500,10.822500,14.511000,18.744000,22.066000,27.671875,32.988750,40.982250,49.335000,58.397500,71.428500,87.42125,109.005000,136.554000,176.112000,250.786250,350.493000,481.734500,781.011000,24477.633750
1963,8.880250,13.903750,18.424000,24.055500,30.779250,36.156000,41.847563,48.880000,60.026375,71.846250,89.232812,102.64800,132.439250,169.537500,228.804750,308.902625,429.056250,611.786000,956.054062,29324.058125
1964,10.076288,16.115925,20.491900,25.782900,32.731188,40.241700,47.365400,56.011175,65.680638,79.508000,92.978600,111.51720,149.601575,188.945575,252.593125,347.418150,474.272400,697.281800,1132.439400,37773.855000
1965,11.737500,18.287188,23.053688,28.585500,34.323500,40.925562,48.855375,58.167000,70.125438,84.832250,105.153750,122.58000,156.298531,195.494375,266.619625,367.632000,505.057406,739.194000,1146.895344,35196.161000
1966,14.782950,22.048913,29.283725,35.024850,40.716031,48.440100,59.404637,70.594775,83.788263,99.947500,116.422950,144.75910,178.101000,221.934600,296.636937,403.164675,539.365950,784.998375,1198.740844,29141.420000
1967,17.203250,25.939725,34.782400,42.565475,50.746969,60.409031,71.155131,83.807000,98.601200,119.311250,144.230013,173.94200,216.063400,275.594550,347.284500,460.068300,585.584900,856.702988,1325.086125,30746.883000
1968,29.568250,37.813975,47.887213,60.845200,70.251563,80.333550,93.282312,108.689000,129.917506,151.076000,181.141775,217.67100,272.853831,327.513300,396.418313,531.359850,681.285750,920.378900,1517.340350,39700.655000
1969,27.972425,36.449550,44.884050,55.025775,65.669250,77.121113,87.985625,106.903775,125.647819,148.035313,169.216200,199.55625,259.573594,316.464387,404.334313,523.428125,678.089675,875.984475,1594.644825,38154.942000
1970,14.397700,19.438950,25.075163,30.035200,36.975375,46.609575,53.293100,65.006400,78.745837,95.894125,114.797638,139.90100,169.142200,219.143587,286.270344,382.636500,491.448300,672.423600,1101.431888,28429.500000
1971,22.457500,29.274513,36.410687,45.869400,57.454781,69.010950,82.828387,104.701350,126.213831,148.242875,174.634013,203.82860,263.957231,345.615375,437.700094,552.022900,704.588462,952.640725,1554.696769,36132.928000

Writing this to a file means we can check it later or use breakpoints from Kennth French later if we have a lot of troubles.

In [29]:
brk.to_csv("C:/Data/Thesis/Brks_Jun_ME.csv")  # column headers are decimals, potential floating point precision garbage

NYSE breakpoints are used to assign _all_ stocks to $Size$ buckets.

In [30]:
jun = jun.merge(brk.reset_index("HP"), on=["HP",], how="left")

In [31]:
jun.shape

(260825, 25)

In [32]:
def assign_bkts(df, var, brkpts, prefix=None, suffix="Bkt"):
    """
    Assigns buckets to column `var` based on percentiles in `brkpts`.
    
    Assumes breakpoints are already in dataframe `df` and are named the same as given in `brkpts`.
    Buckets are integers beginning with 1 ending with len(brkpts).
    """

    if not prefix:
        prefix = var
    varbkt = prefix + suffix

    df[varbkt] = pd.np.NaN

    for i, brkpt in enumerate(brkpts):  # index begins at 0
        if i==0:
            df.loc[df[var]<=df[brkpt], varbkt] = 1
        else:
            df.loc[(df[var]>df[brkpts[i-1]]) & (df[var]<=df[brkpt]), varbkt] = i + 1

    return df

### Median

In [33]:
jun = assign_bkts(jun, "ME_Jun", [.5, 1.])

In [34]:
jun[["PERMNO", "HP", "ME_JunBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_Jun_ME_2.csv")

### Quintiles

In [35]:
jun = assign_bkts(jun, "ME_Jun", [.2, .4, .6, .8, 1.])

In [36]:
jun[["PERMNO", "HP", "ME_JunBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_Jun_ME_5.csv")

### Deciles

In [37]:
jun = assign_bkts(jun, "ME_Jun", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])

In [38]:
jun[["PERMNO", "HP", "ME_JunBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_Jun_ME_10.csv")

Let's use the decile breakpoints to check how close we get to the returns from Kenneth French's website for 10 size buckets.

In [39]:
crsp = crsp.merge(jun[["PERMNO", "HP", "ME_JunBkt"]], on=["PERMNO", "HP"], how="left")  # could use inner here

In [40]:
crsp.ME_JunBkt.isna().sum() / crsp.PERMNO.count()

0.05840207274116957

In [41]:
crsp["BktSize"] = crsp[~crsp.ME_Jun.isna()].groupby(["ME_JunBkt", "date"]).Size.transform("sum")  # dplyr `mutate`
crsp["WtRET"] = crsp.Size * crsp.RET / crsp.BktSize
bkt = crsp[~crsp.ME_Jun.isna()].groupby(["ME_JunBkt", "date"]).WtRET.sum()

Not bad :)

In [42]:
# 1.15, 1.11, 1.19, 1.12, 1.15, 1.09, 1.09, 1.06, 0.99, 0.86

In [43]:
(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

ME_JunBkt
1.0     1.16
2.0     1.09
3.0     1.17
4.0     1.13
5.0     1.14
6.0     1.05
7.0     1.09
8.0     1.06
9.0     1.00
10.0    0.85
dtype: float64

## Prior Return

In [44]:
crsp["PriorRET"] = crsp.RET.fillna(-.9999)

In [45]:
grp = crsp.groupby("PERMNO")

In [46]:
crsp["Prior"] = grp.PriorRET.shift(2)  + grp.PriorRET.shift(3) + grp.PriorRET.shift(4) + \
                grp.PriorRET.shift(5)  + grp.PriorRET.shift(6) + grp.PriorRET.shift(7) + \
                grp.PriorRET.shift(8)  + grp.PriorRET.shift(9) + grp.PriorRET.shift(10) + \
                grp.PriorRET.shift(11) + grp.PriorRET.shift(12)

In [47]:
crsp.Prior.isna().sum() / crsp.PERMNO.count()

0.09108691948987906

Momentum portfolios are rebalanced every month.

In [48]:
crsp["L1_ME"] = grp.ME.shift(1)

Stocks must have a price 13 months ago and a return last month.

In [49]:
crsp["PriorOK"] = (~grp.PRC.shift(13).isna()) & (~grp.RET.shift(2).isna()) & (~grp.ME.shift(1).isna())

In [50]:
brk = crsp[["date", "Prior"]][(crsp.EXCHCD==1) & (crsp.PriorOK)].groupby("date").quantile(pd.np.array(range(1, 21))/20).unstack()
brk.columns = brk.columns.droplevel(0)

In [51]:
brk["1963-07":].head(n=10)

,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,0.95,1.0
date,,,,,,,,,,,,,,,,,,,,
1963-07-31,-0.058441,0.036771,0.101289,0.139029,0.169825,0.194718,0.214481,0.235455,0.258147,0.278940,0.302526,0.325099,0.347931,0.380419,0.410458,0.442465,0.478835,0.549110,0.649004,1.681246
1963-08-30,-0.150827,-0.031155,0.030847,0.066100,0.100453,0.123511,0.141903,0.166040,0.183317,0.200593,0.224160,0.241218,0.266373,0.296398,0.330928,0.361580,0.408789,0.463392,0.543714,1.493648
1963-09-30,-0.218193,-0.095375,-0.025249,0.028795,0.061664,0.083645,0.106969,0.128199,0.151408,0.169390,0.189934,0.211625,0.238751,0.260794,0.289225,0.327625,0.370042,0.418893,0.515986,1.583582
1963-10-31,-0.087425,0.027178,0.090234,0.124669,0.153067,0.183279,0.205200,0.229835,0.250880,0.271786,0.294148,0.321782,0.344539,0.370547,0.404683,0.438819,0.483701,0.558334,0.657001,1.836784
1963-11-29,-0.059145,0.049967,0.100550,0.142431,0.163638,0.189746,0.210728,0.230732,0.250703,0.271429,0.298423,0.321906,0.341735,0.365572,0.397117,0.431912,0.472357,0.532980,0.664296,1.883147
1963-12-31,-0.167032,-0.080020,-0.021161,0.014650,0.050232,0.073804,0.097692,0.117041,0.131087,0.149086,0.171206,0.192503,0.213858,0.246958,0.277558,0.307744,0.358013,0.426626,0.543220,1.154361
1964-01-31,-0.158114,-0.060931,-0.014627,0.015879,0.042644,0.064357,0.088385,0.109617,0.130264,0.154103,0.169892,0.190877,0.215911,0.242890,0.273943,0.310842,0.362204,0.428835,0.526141,1.349134
1964-02-28,-0.234158,-0.139030,-0.089091,-0.046123,-0.018972,0.002156,0.025460,0.044023,0.065933,0.086824,0.106176,0.124708,0.148244,0.176293,0.204205,0.242351,0.282959,0.339310,0.489983,1.271056
1964-03-31,-0.203365,-0.116939,-0.065405,-0.021076,0.006849,0.029953,0.052712,0.071731,0.092396,0.121700,0.140231,0.164460,0.189951,0.218682,0.253086,0.288576,0.334636,0.396773,0.499353,1.238086
1964-04-30,-0.192498,-0.091669,-0.050269,-0.014820,0.009452,0.034099,0.055135,0.072601,0.094632,0.117612,0.139377,0.166484,0.189355,0.221413,0.255062,0.290873,0.332180,0.404369,0.537089,1.184528

In [52]:
brk.to_csv("C:/Data/Thesis/Brks_Prior.csv")  # column headers are decimals, potential floating point precision garbage

In [53]:
crsp.columns

Index(['PERMNO', 'date', 'EXCHCD', 'SICCD', 'TICKER', 'COMNAM', 'CUSIP',
       'DCLRDT', 'DLSTCD', 'PAYDT', 'DISTCD', 'DIVAMT', 'FACPR', 'FACSHR',
       'ACPERM', 'DLRET', 'PRC', 'VOL', 'RET', 'SHROUT', 'CFACPR', 'CFACSHR',
       'SPREAD', 'vwretd', 'ewretd', 'sprtrn', 'HP', 'ME', 'ME_Jun', 'ME_Dec',
       'Ri', 'L1_Ri', 'RiFctr', 'Size', 'ME_JunBkt', 'BktSize', 'WtRET',
       'PriorRET', 'Prior', 'L1_ME', 'PriorOK'],
      dtype='object')

In [54]:
crsp = crsp.merge(brk.reset_index("date"), on="date", how="left")

### Factor Buckets

In [55]:
prb = assign_bkts(crsp.loc[:,["PERMNO", "date", "Prior", .3, .7, 1.]], "Prior", [.3, .7, 1.])

In [56]:
prb[["PERMNO", "date", "PriorBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_Prior_3.csv")

### Quartiles

In [57]:
prb = assign_bkts(crsp.loc[:,["PERMNO", "date", "Prior", .25, .5, .75, 1.]], "Prior", [.25, .5, .75, 1.])

In [58]:
prb[["PERMNO", "date", "PriorBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_Prior_4.csv")

### Quintiles

In [59]:
prb = assign_bkts(crsp.loc[:,["PERMNO", "date", "Prior", .2, .4, .6, .8, 1.]], "Prior", [.2, .4, .6, .8, 1.])

In [60]:
prb[["PERMNO", "date", "PriorBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_Prior_5.csv")

### Deciles

In [61]:
prb = assign_bkts(crsp.loc[:,["PERMNO", "date", "Prior", .1, .2, .3, .4, .5, .6, .7, .8, .9, 1.]], "Prior", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])

In [62]:
prb[["PERMNO", "date", "PriorBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_Prior_10.csv")

Let's use the decile buckets to compare to Kenneth French's website.

In [63]:
crsp = crsp.merge(prb[["PERMNO", "date", "PriorBkt"]], on=["PERMNO", "date"], how="left")

In [64]:
crsp = crsp.drop(pd.np.array(range(1, 21))/20, axis=1)

In [65]:
crsp.PriorBkt.isna().sum() / crsp.PERMNO.count()

0.09611054789704943

**`L1_ME` instead of `Size` here**.

In [66]:
crsp["BktSize"] = crsp[crsp.PriorOK].groupby(["PriorBkt", "date"]).L1_ME.transform("sum")  # dplyr `mutate`

In [67]:
crsp["WtRET"] = crsp.L1_ME * crsp.RET / crsp.BktSize

In [68]:
bkt = crsp[crsp.PriorOK].groupby(["PriorBkt", "date"]).WtRET.sum()

Not bad :)

In [69]:
# 0.23, 0.71, 0.87, 0.91, 0.85, 0.92, 0.92, 1.08, 1.13, 1.50

In [70]:
(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

PriorBkt
1.0     0.24
2.0     0.77
3.0     0.89
4.0     0.87
5.0     0.85
6.0     0.86
7.0     0.97
8.0     1.08
9.0     1.14
10.0    1.47
dtype: float64

# Compustat

Compustat variable [definitions](http://www.crsp.com/products/documentation/annual-data-industrial).

In [71]:
%time comp = pd.read_csv("C:/Data/CRSP/20180223_COMP_196101_201712.csv")

Wall time: 15.6 s

In [72]:
comp.shape

(288423, 48)

In [73]:
comp.head()

,GVKEY,LPERMNO,datadate,fyear,fyr,aco,act,ap,apc,arc,...,upstk,urect,xacc,xinst,xint,xintd,xpp,xrd,xsga,fyrc
0,1000,25881,19701231,1970.0,12.0,0.579,21.351,6.114,NaN,NaN,...,NaN,NaN,0.763,NaN,0.850,NaN,0.579,NaN,9.420,12
1,1000,25881,19711231,1971.0,12.0,0.546,19.688,4.326,NaN,NaN,...,NaN,NaN,1.195,NaN,1.117,NaN,0.546,NaN,10.548,12
2,1000,25881,19721231,1972.0,12.0,0.370,11.326,2.768,NaN,NaN,...,NaN,NaN,1.172,NaN,0.784,NaN,0.370,NaN,7.551,12
3,1000,25881,19731231,1973.0,12.0,0.325,12.969,2.789,NaN,NaN,...,NaN,NaN,0.826,NaN,0.705,NaN,0.325,NaN,8.532,12
4,1000,25881,19741231,1974.0,12.0,0.484,19.473,4.183,NaN,NaN,...,NaN,NaN,1.665,NaN,0.817,NaN,0.484,NaN,8.859,12

In [74]:
comp["date"] = comp.datadate.astype(str)
comp.date = pd.to_datetime(comp.date)
comp.date.min(), comp.date.max()

(Timestamp('1961-01-31 00:00:00'), Timestamp('2017-12-31 00:00:00'))

In [75]:
comp = comp.rename(columns={"LPERMNO": "PERMNO"})

There should be no duplicate `PERMNO`-`fyear` pairs.

In [76]:
x = comp[["PERMNO", "fyear"]].duplicated(keep="first")
y = comp[["PERMNO", "fyear"]].duplicated(keep="last")
ix = x | y
comp[ix].head(n=200).set_index(["PERMNO", "fyear"])

                GVKEY  datadate   fyr     aco      act         ap  apc  arc  \
PERMNO fyear
22074  1987.0    1302  19870630   6.0  44.777  140.682      0.000  NaN  NaN
67563  1998.0    5184  19980630   6.0     NaN      NaN  10698.265  NaN  NaN
75228  1987.0    5969  19871031  10.0   0.135    8.502      2.200  NaN  NaN
88031  1990.0   11831  19900630   6.0   0.000    1.571      0.000  NaN  NaN
22074  1987.0   14152  19871231  12.0  10.900  223.200    187.100  NaN  NaN
75228  1987.0   14446  19871231  12.0   1.840   14.113      3.342  NaN  NaN
88031  1990.0   24316  19901231  12.0   0.000    7.134      0.072  NaN  NaN
85531  1998.0   65275  19981231  12.0   6.099   42.083      1.394  NaN  NaN
       1998.0   65791  19980630   6.0     NaN      NaN        NaN  NaN  NaN
67563  1998.0  116144  19981231  12.0     NaN      NaN  24620.066  NaN  NaN

               artfs         at    ...      urect     xacc  xinst    xint  \
PERMNO fyear                       ...
22074  1987.0    NaN    149.379    ...        NaN    3.724    NaN  12.969
67563  1998.0    NaN  18116.737    ...        NaN      NaN    NaN     NaN
75228  1987.0    NaN     17.970    ...        NaN    1.170    NaN   0.184
88031  1990.0    NaN      1.613    ...        NaN    0.004    NaN     NaN
22074  1987.0    NaN   1056.500    ...        NaN  120.200    NaN     NaN
75228  1987.0    NaN     45.769    ...        NaN      NaN    NaN   0.147
88031  1990.0    NaN      7.139    ...        NaN    0.106    NaN     NaN
85531  1998.0    NaN     91.463    ...        NaN   20.365    NaN     NaN
       1998.0    NaN        NaN    ...        NaN      NaN    NaN     NaN
67563  1998.0    NaN  54868.984    ...        NaN      NaN    NaN     NaN

               xintd    xpp    xrd     xsga  fyrc       date
PERMNO fyear
22074  1987.0    NaN  0.000  0.000   67.039     6 1987-06-30
67563  1998.0    NaN  0.000    NaN  185.259     6 1998-06-30
75228  1987.0    NaN  0.135    NaN    4.193    10 1987-10-31
88031  1990.0    NaN  0.000    NaN      NaN     6 1990-06-30
22074  1987.0    NaN  0.000    NaN      NaN    12 1987-12-31
75228  1987.0    NaN  0.000  0.864    3.478    12 1987-12-31
88031  1990.0    NaN  0.000    NaN      NaN    12 1990-12-31
85531  1998.0    NaN  0.000    NaN   18.972    12 1998-12-31
       1998.0    NaN    NaN    NaN   12.021     6 1998-06-30
67563  1998.0    NaN    NaN    NaN  393.728    12 1998-12-31

[10 rows x 47 columns]

There is only a few so just remove the second duplicate.

In [77]:
comp = comp[~x]

In [78]:
comp[["PERMNO", "fyear"]].duplicated(keep="first").sum()

0

## Holding Period

We want to leave at least 6 months from fiscal year end to rebalancing in July to give time for the data to become available.
If fiscal year end is before June, Compustat data refers to the previous fiscal year.
For example, data released in May 2005 refers to fiscal year 2004.
We must set the holding period to `fyear` + 1 where the fiscal year end month is June onwards and `fyear` + 2 otherwise.

In [79]:
comp[["PERMNO", "date", "fyear", "fyr", "fyrc"]].head(n=50)

    PERMNO       date   fyear   fyr  fyrc
0    25881 1970-12-31  1970.0  12.0    12
1    25881 1971-12-31  1971.0  12.0    12
2    25881 1972-12-31  1972.0  12.0    12
3    25881 1973-12-31  1973.0  12.0    12
4    25881 1974-12-31  1974.0  12.0    12
5    25881 1975-12-31  1975.0  12.0    12
6    25881 1976-12-31  1976.0  12.0    12
7    25881 1977-12-31  1977.0  12.0    12
8    10015 1983-12-31  1983.0  12.0    12
9    10015 1984-12-31  1984.0  12.0    12
10   10015 1985-12-31  1985.0  12.0    12
11   10023 1972-12-31  1972.0  12.0    12
12   10031 1983-12-31  1983.0  12.0     1
13   10031 1984-12-31  1984.0  12.0     1
14   10031 1986-01-31  1985.0   1.0     1
15   10031 1987-01-31  1986.0   1.0     1
16   10031 1988-01-31  1987.0   1.0     1
17   10031 1989-01-31  1988.0   1.0     1
18   54594 1972-05-31  1971.0   5.0     5
19   54594 1973-05-31  1972.0   5.0     5
20   54594 1974-05-31  1973.0   5.0     5
21   54594 1975-05-31  1974.0   5.0     5
22   54594 1976-05-31  1975.0   5.0     5
23   54594 1977-05-31  1976.0   5.0     5
24   54594 1978-05-31  1977.0   5.0     5
25   54594 1979-05-31  1978.0   5.0     5
26   54594 1980-05-31  1979.0   5.0     5
27   54594 1981-05-31  1980.0   5.0     5
28   54594 1982-05-31  1981.0   5.0     5
29   54594 1983-05-31  1982.0   5.0     5
30   54594 1984-05-31  1983.0   5.0     5
31   54594 1985-05-31  1984.0   5.0     5
32   54594 1986-05-31  1985.0   5.0     5
33   54594 1987-05-31  1986.0   5.0     5
34   54594 1988-05-31  1987.0   5.0     5
35   54594 1989-05-31  1988.0   5.0     5
36   54594 1990-05-31  1989.0   5.0     5
37   54594 1991-05-31  1990.0   5.0     5
38   54594 1992-05-31  1991.0   5.0     5
39   54594 1993-05-31  1992.0   5.0     5
40   54594 1994-05-31  1993.0   5.0     5
41   54594 1995-05-31  1994.0   5.0     5
42   54594 1996-05-31  1995.0   5.0     5
43   54594 1997-05-31  1996.0   5.0     5
44   54594 1998-05-31  1997.0   5.0     5
45   54594 1999-05-31  1998.0   5.0     5
46   54594 2000-05-31  1999.0   5.0     5
47   54594 2001-05-31  2000.0   5.0     5
48   54594 2002-05-31  2001.0   5.0     5
49   54594 2003-05-31  2002.0   5.0     5

In [80]:
comp.fyear.dtype, comp.fyr.dtype, comp.fyrc.dtype

(dtype('float64'), dtype('float64'), dtype('int64'))

In [81]:
(comp.fyr != comp.fyrc).sum() / comp.PERMNO.count()

0.07501265524343141

In [82]:
comp.fyr.isna().sum(), comp.fyrc.isna().sum()

(2, 0)

`fyr` does things depending on when in the month the actual fiscal year end is, so we will use `fyrc`.

How many holding periods are actually impacted by this?

In [83]:
(comp.fyrc<6).sum() / comp.PERMNO.count()

0.13166653953636737

In [84]:
comp["HP"] = pd.np.NaN

In [85]:
ix = comp.fyrc < 6
comp.loc[ix, "HP"] = comp.fyear[ix] + 2
ix = comp.fyrc >= 6  # redo the index because we want to leave NaNs as they are
comp.loc[ix, "HP"] = comp.fyear[ix] + 1

In [86]:
comp[["PERMNO", "date", "fyear", "fyrc", "HP"]].head(n=50)

    PERMNO       date   fyear  fyrc      HP
0    25881 1970-12-31  1970.0    12  1971.0
1    25881 1971-12-31  1971.0    12  1972.0
2    25881 1972-12-31  1972.0    12  1973.0
3    25881 1973-12-31  1973.0    12  1974.0
4    25881 1974-12-31  1974.0    12  1975.0
5    25881 1975-12-31  1975.0    12  1976.0
6    25881 1976-12-31  1976.0    12  1977.0
7    25881 1977-12-31  1977.0    12  1978.0
8    10015 1983-12-31  1983.0    12  1984.0
9    10015 1984-12-31  1984.0    12  1985.0
10   10015 1985-12-31  1985.0    12  1986.0
11   10023 1972-12-31  1972.0    12  1973.0
12   10031 1983-12-31  1983.0     1  1985.0
13   10031 1984-12-31  1984.0     1  1986.0
14   10031 1986-01-31  1985.0     1  1987.0
15   10031 1987-01-31  1986.0     1  1988.0
16   10031 1988-01-31  1987.0     1  1989.0
17   10031 1989-01-31  1988.0     1  1990.0
18   54594 1972-05-31  1971.0     5  1973.0
19   54594 1973-05-31  1972.0     5  1974.0
20   54594 1974-05-31  1973.0     5  1975.0
21   54594 1975-05-31  1974.0     5  1976.0
22   54594 1976-05-31  1975.0     5  1977.0
23   54594 1977-05-31  1976.0     5  1978.0
24   54594 1978-05-31  1977.0     5  1979.0
25   54594 1979-05-31  1978.0     5  1980.0
26   54594 1980-05-31  1979.0     5  1981.0
27   54594 1981-05-31  1980.0     5  1982.0
28   54594 1982-05-31  1981.0     5  1983.0
29   54594 1983-05-31  1982.0     5  1984.0
30   54594 1984-05-31  1983.0     5  1985.0
31   54594 1985-05-31  1984.0     5  1986.0
32   54594 1986-05-31  1985.0     5  1987.0
33   54594 1987-05-31  1986.0     5  1988.0
34   54594 1988-05-31  1987.0     5  1989.0
35   54594 1989-05-31  1988.0     5  1990.0
36   54594 1990-05-31  1989.0     5  1991.0
37   54594 1991-05-31  1990.0     5  1992.0
38   54594 1992-05-31  1991.0     5  1993.0
39   54594 1993-05-31  1992.0     5  1994.0
40   54594 1994-05-31  1993.0     5  1995.0
41   54594 1995-05-31  1994.0     5  1996.0
42   54594 1996-05-31  1995.0     5  1997.0
43   54594 1997-05-31  1996.0     5  1998.0
44   54594 1998-05-31  1997.0     5  1999.0
45   54594 1999-05-31  1998.0     5  2000.0
46   54594 2000-05-31  1999.0     5  2001.0
47   54594 2001-05-31  2000.0     5  2002.0
48   54594 2002-05-31  2001.0     5  2003.0
49   54594 2003-05-31  2002.0     5  2004.0

## Book Equity

Fama and French use an annoyingly long definition of Book Equity and I'm pretty sure Asness and his pals just use `seq`.
Nevertheless, we will dive in.
Using compustat codes
$$be = seq + txditc - ps$$
where $ps = pstkrv, pstkl, pstk$ in order of preference.
If we are unable to get a value for Book Equity from this we can try
$$be = ceq + upstk$$
and finally
$$be = at - lt$$

We will assume `txditc`, `ps` and `upstk` can be missing.

In [87]:
comp["ps"] = comp.pstkrv
comp.loc[comp.ps.isna(), "ps"] = comp.pstkl[comp.ps.isna()]
comp.loc[comp.ps.isna(), "ps"] = comp.pstk[comp.ps.isna()]

In [88]:
comp["BE"] = comp.seq + comp.txditc.fillna(0) - comp.ps.fillna(0)
comp.BE.isna().sum()

24180

In [89]:
comp.loc[comp.BE.isna(), "BE"] = comp.ceq[comp.BE.isna()] + comp.upstk[comp.BE.isna()].fillna(0)
comp.BE.isna().sum()

22604

In [90]:
comp.loc[comp.BE.isna(), "BE"] = comp["at"][comp.BE.isna()] - comp["lt"][comp.BE.isna()]  # at and lt are methods
comp.BE.isna().sum()

19878

Little strange to have negative Book Equity, we must remember to remove these before we assign to buckets.

In [91]:
(comp.BE < 0).sum()

9672

In [92]:
comp["L1_BE"] = comp.groupby("PERMNO")["BE"].shift(1)
comp["D1_BE"] = comp.BE - comp.L1_BE
comp["BE_Growth"] = comp.D1_BE / comp.L1_BE
comp["BE_Growth_Future"] = comp.groupby("PERMNO")["BE_Growth"].shift(-1)

In [93]:
comp[["PERMNO", "date", "HP", "BE", "L1_BE", "D1_BE", "BE_Growth", "BE_Growth_Future"]].head(n=50)

,PERMNO,date,HP,BE,L1_BE,D1_BE,BE_Growth,BE_Growth_Future
0,25881,1970-12-31,1971.0,10.544,NaN,NaN,NaN,-0.205046
1,25881,1971-12-31,1972.0,8.382,10.544,-2.162,-0.205046,-0.128012
2,25881,1972-12-31,1973.0,7.309,8.382,-1.073,-0.128012,0.203721
3,25881,1973-12-31,1974.0,8.798,7.309,1.489,0.203721,-0.058991
4,25881,1974-12-31,1975.0,8.279,8.798,-0.519,-0.058991,0.331079
5,25881,1975-12-31,1976.0,11.020,8.279,2.741,0.331079,0.408984
6,25881,1976-12-31,1977.0,15.527,11.020,4.507,0.408984,0.138211
7,25881,1977-12-31,1978.0,17.673,15.527,2.146,0.138211,NaN
8,10015,1983-12-31,1984.0,7.823,NaN,NaN,NaN,0.191231
9,10015,1984-12-31,1985.0,9.319,7.823,1.496,0.191231,0.466359
10,10015,1985-12-31,1986.0,13.665,9.319,4.346,0.466359,NaN
11,10023,1972-12-31,1973.0,8.591,NaN,NaN,NaN,NaN
12,10031,1983-12-31,1985.0,6.095,NaN,NaN,NaN,0.063495
13,10031,1984-12-31,1986.0,6.482,6.095,0.387,0.063495,0.028232
14,10031,1986-01-31,1987.0,6.665,6.482,0.183,0.028232,0.118980
15,10031,1987-01-31,1988.0,7.458,6.665,0.793,0.118980,0.024806
16,10031,1988-01-31,1989.0,7.643,7.458,0.185,0.024806,-1.025383
17,10031,1989-01-31,1990.0,-0.194,7.643,-7.837,-1.025383,NaN
18,54594,1972-05-31,1973.0,7.125,NaN,NaN,NaN,0.825263
19,54594,1973-05-31,1974.0,13.005,7.125,5.880,0.825263,0.125029
20,54594,1974-05-31,1975.0,14.631,13.005,1.626,0.125029,-0.014011
21,54594,1975-05-31,1976.0,14.426,14.631,-0.205,-0.014011,0.108207
22,54594,1976-05-31,1977.0,15.987,14.426,1.561,0.108207,0.105085
23,54594,1977-05-31,1978.0,17.667,15.987,1.680,0.105085,0.096451
24,54594,1978-05-31,1979.0,19.371,17.667,1.704,0.096451,0.127200
25,54594,1979-05-31,1980.0,21.835,19.371,2.464,0.127200,0.212274
26,54594,1980-05-31,1981.0,26.470,21.835,4.635,0.212274,0.150170
27,54594,1981-05-31,1982.0,30.445,26.470,3.975,0.150170,0.551092
28,54594,1982-05-31,1983.0,47.223,30.445,16.778,0.551092,0.038159
29,54594,1983-05-31,1984.0,49.025,47.223,1.802,0.038159,0.784498
30,54594,1984-05-31,1985.0,87.485,49.025,38.460,0.784498,0.068583
31,54594,1985-05-31,1986.0,93.485,87.485,6.000,0.068583,0.103717
32,54594,1986-05-31,1987.0,103.181,93.485,9.696,0.103717,0.369535
33,54594,1987-05-31,1988.0,141.310,103.181,38.129,0.369535,0.121626
34,54594,1988-05-31,1989.0,158.497,141.310,17.187,0.121626,0.278131
35,54594,1989-05-31,1990.0,202.580,158.497,44.083,0.278131,0.113377
36,54594,1990-05-31,1991.0,225.548,202.580,22.968,0.113377,0.027622
37,54594,1991-05-31,1992.0,231.778,225.548,6.230,0.027622,0.017081
38,54594,1992-05-31,1993.0,235.737,231.778,3.959,0.017081,-0.036146
39,54594,1993-05-31,1994.0,227.216,235.737,-8.521,-0.036146,0.005598
40,54594,1994-05-31,1995.0,228.488,227.216,1.272,0.005598,-0.003103
41,54594,1995-05-31,1996.0,227.779,228.488,-0.709,-0.003103,0.033085
42,54594,1996-05-31,1997.0,235.315,227.779,7.536,0.033085,0.282617
43,54594,1997-05-31,1998.0,301.819,235.315,66.504,0.282617,0.118883
44,54594,1998-05-31,1999.0,337.700,301.819,35.881,0.118883,0.098327
45,54594,1999-05-31,2000.0,370.905,337.700,33.205,0.098327,0.066405
46,54594,2000-05-31,2001.0,395.535,370.905,24.630,0.066405,-0.000657
47,54594,2001-05-31,2002.0,395.275,395.535,-0.260,-0.000657,-0.137724
48,54594,2002-05-31,2003.0,340.836,395.275,-54.439,-0.137724,-0.068206
49,54594,2003-05-31,2004.0,317.589,340.836,-23.247,-0.068206,0.005425

## "Classic" Operating Profit of Fama and French (2006)

Includes RnD expenses

In [94]:
comp["OP06"] = (comp.revt - comp.cogs.fillna(0) - comp.xsga.fillna(0) - comp.xint.fillna(0)) / comp.BE

In [95]:
comp["OP06OK"] = ((~comp.cogs.isna()) | (~comp.xsga.isna()) | (~comp.xint.isna())) & (comp.BE>0)

In [96]:
(~comp.OP06OK).sum() / comp.PERMNO.count()

0.10644619961306159

## Operating Profit of Fama and French *Dissecting Anomalies...* (2016)

In [97]:
comp["OP16"] = (comp.revt - comp.cogs.fillna(0) - comp.xsga.fillna(0) + comp.xrd.fillna(0) - comp.xint.fillna(0)) / comp.BE

## Accruals of Ball, et al. *Accruals...* (2016)

Think we are missing a variable here.

In [98]:
comp["D1_rect"] = (comp.rect - comp.groupby("PERMNO")["rect"].shift(1)).fillna(0)
comp["D1_invt"] = (comp.invt - comp.groupby("PERMNO")["invt"].shift(1)).fillna(0)
comp["D1_xpp"] = (comp.xpp - comp.groupby("PERMNO")["xpp"].shift(1)).fillna(0)
comp["D1_drc"] = (comp.drc - comp.groupby("PERMNO")["drc"].shift(1)).fillna(0)
comp["D1_ap"] = (comp.ap - comp.groupby("PERMNO")["ap"].shift(1)).fillna(0)
comp["D1_xacc"] = (comp.xacc - comp.groupby("PERMNO")["xacc"].shift(1)).fillna(0)

In [99]:
comp[["PERMNO", "HP", "rect", "D1_rect", "invt", "D1_invt"]].head(n=50)

    PERMNO      HP     rect  D1_rect     invt  D1_invt
0    25881  1971.0    8.913    0.000   10.199    0.000
1    25881  1972.0    8.398   -0.515    8.187   -2.012
2    25881  1973.0    4.186   -4.212    4.743   -3.444
3    25881  1974.0    5.604    1.418    5.683    0.940
4    25881  1975.0   10.474    4.870    7.177    1.494
5    25881  1976.0    8.193   -2.281    6.227   -0.950
6    25881  1977.0    9.207    1.014    9.919    3.692
7    25881  1978.0   12.434    3.227    9.129   -0.790
8    10015  1984.0    0.082    0.000    0.323    0.000
9    10015  1985.0    0.056   -0.026    0.502    0.179
10   10015  1986.0    0.029   -0.027    0.739    0.237
11   10023  1973.0    3.983    0.000    8.393    0.000
12   10031  1985.0    0.690    0.000    5.408    0.000
13   10031  1986.0    1.190    0.500    5.661    0.253
14   10031  1987.0    1.110   -0.080   11.071    5.410
15   10031  1988.0    0.772   -0.338   11.563    0.492
16   10031  1989.0    1.266    0.494   11.922    0.359
17   10031  1990.0    2.148    0.882   11.680   -0.242
18   54594  1973.0    4.894    0.000    6.459    0.000
19   54594  1974.0    6.117    1.223    9.788    3.329
20   54594  1975.0    8.549    2.432   12.520    2.732
21   54594  1976.0   10.474    1.925   21.241    8.721
22   54594  1977.0   10.746    0.272   22.578    1.337
23   54594  1978.0   10.556   -0.190   23.912    1.334
24   54594  1979.0   15.282    4.726   27.141    3.229
25   54594  1980.0   15.539    0.257   31.334    4.193
26   54594  1981.0   19.008    3.469   29.386   -1.948
27   54594  1982.0   17.202   -1.806   37.813    8.427
28   54594  1983.0   28.679   11.477   40.093    2.280
29   54594  1984.0   28.965    0.286   32.080   -8.013
30   54594  1985.0   35.201    6.236   41.764    9.684
31   54594  1986.0   42.945    7.744   48.532    6.768
32   54594  1987.0   55.345   12.400   74.606   26.074
33   54594  1988.0   66.730   11.385   88.920   14.314
34   54594  1989.0   67.161    0.431  122.586   33.666
35   54594  1990.0   95.218   28.057  140.313   17.727
36   54594  1991.0   93.581   -1.637  162.149   21.836
37   54594  1992.0   91.238   -2.343  156.133   -6.016
38   54594  1993.0   89.781   -1.457  173.379   17.246
39   54594  1994.0   68.849  -20.932  172.536   -0.843
40   54594  1995.0   85.947   17.098  174.920    2.384
41   54594  1996.0  110.420   24.473  170.328   -4.592
42   54594  1997.0  107.138   -3.282  175.084    4.756
43   54594  1998.0  122.944   15.806  217.239   42.155
44   54594  1999.0  163.359   40.415  263.425   46.186
45   54594  2000.0  164.302    0.943  304.499   41.074
46   54594  2001.0  128.348  -35.954  336.018   31.519
47   54594  2002.0  115.187  -13.161  320.590  -15.428
48   54594  2003.0   77.528  -37.659  286.588  -34.002
49   54594  2004.0   66.322  -11.206  259.954  -26.634

In [100]:
# - drect - dinvt - dxpp + ddrc + dap + dxacc
comp["acc"] = - comp.D1_rect - comp.D1_invt - comp.D1_xpp + comp.D1_drc + comp.D1_ap + comp.D1_xacc

**Scaling variable for Accruals?**

In [101]:
comp["ACC"] = comp.acc / comp.BE

## Cash Profit of Fama and French *Choosing Factors* (2016)

In [102]:
comp["CP"] = (comp.revt - comp.cogs.fillna(0) - comp.xsga.fillna(0) + comp.xrd.fillna(0) - comp.xint.fillna(0) + comp.acc) / comp.BE

## Asset Growth (Investment) of Fama and French (2006)

In [103]:
comp["Inv"] = (comp["at"] - comp.groupby("PERMNO")["at"].shift(1)) / comp.groupby("PERMNO")["at"].shift(1)

In [104]:
comp.Inv.isna().sum() / comp.PERMNO.count()

0.15060779840370572

# Combined Data

When we assign buckets for book variables, we can use values from July because we have set holding periods already.

In [105]:
comp = comp[~comp[["PERMNO", "HP"]].duplicated(keep="first")]

In [106]:
cols = ["PERMNO", "HP", "BE", "BE_Growth_Future", "OP06", "OP06OK", "OP16", "ACC", "CP", "Inv"]
df = crsp.merge(comp[cols], on=["PERMNO", "HP"], how="left")

In [107]:
crsp.shape, df.shape

((3134786, 42), (3134786, 50))

In [108]:
df.OP06OK = df.OP06OK.astype("bool")  # for some reason OP06OK stops being a boolean column after merge

In [109]:
for bkt in ["ME_JunBkt", "PriorBkt", "BMBkt", "BMmBkt", "OP06Bkt", "OP16Bkt", "CPBkt", "InvBkt"]:
    try:
        df = df.drop(bkt, axis=1)
    except ValueError:
        print("{} not in df".format(bkt))

BMBkt not in df
BMmBkt not in df
OP06Bkt not in df
OP16Bkt not in df
CPBkt not in df
InvBkt not in df

In [110]:
for nonsense in ["COMNAM", "CUSIP", "PAYDT", "DIVAMT", "ACPERM", "VOL", "SPREAD", "vwretd", "ewretd",
                 "sprtrn", "BktSize", "WtRET", "PriorRET"]:
    try:
        df = df.drop(nonsense, axis=1)
    except ValueError:
        print("{} not in df".format(nonsense))

In [111]:
df["BM"] = df.BE / df.ME_Dec

df["BMOK"] = (~df.ME_Jun.isna()) & (~df.ME_Dec.isna()) & (~df.BE.isna()) & (df.BE > 0)

In [112]:
df["BMm"] = df.BE / df.L1_ME

df["BMmOK"] = (~df.L1_ME.isna()) & (~df.BE.isna()) & (df.BE > 0)

In [113]:
df.columns

Index(['PERMNO', 'date', 'EXCHCD', 'SICCD', 'TICKER', 'DCLRDT', 'DLSTCD',
       'DISTCD', 'FACPR', 'FACSHR', 'DLRET', 'PRC', 'RET', 'SHROUT', 'CFACPR',
       'CFACSHR', 'HP', 'ME', 'ME_Jun', 'ME_Dec', 'Ri', 'L1_Ri', 'RiFctr',
       'Size', 'Prior', 'L1_ME', 'PriorOK', 'BE', 'BE_Growth_Future', 'OP06',
       'OP06OK', 'OP16', 'ACC', 'CP', 'Inv', 'BM', 'BMOK', 'BMm', 'BMmOK'],
      dtype='object')

In [117]:
write_combined_data = False

In [118]:
%%time
if write_combined_data:
    df.to_csv("C:/Data/Thesis/Combined_Data.csv")

Wall time: 3min

In [125]:
del crsp
del comp

## Value

In [ ]:
jul = df[["PERMNO", "HP", "EXCHCD", "BM", "BMOK"]][df.date.dt.month==7]

In [ ]:
nyse = jul[(jul.EXCHCD==1) & (jul.BMOK)]

In [ ]:
grp = nyse[["HP", "BM"]].groupby("HP")  # grouped objects perform operations on the grouped column/variable
del nyse
brk = grp.quantile(pd.np.array(range(1, 21))/20).unstack()  # 5% to 100% in 5% increments
#brk = brk.reset_index("date")  # grab the date column out of the index
#brk["HP"] = brk.date.dt.year + 1  # create holding period from the date
#brk = brk.drop("date", axis=1).set_index("HP")  # we don't want the date column anymore
brk.columns = brk.columns.droplevel(0)  # drop the needless "ME" top-level column index

In [ ]:
brk.head(n=10)

Writing this to a file means we can check it later or use breakpoints from Kennth French later if we have a lot of troubles.

In [ ]:
brk.to_csv("C:/Data/Thesis/Brks_BM.csv")  # column headers are decimals, potential floating point precision garbage

NYSE breakpoints are used to assign _all_ stocks to $Size$ buckets.

In [ ]:
jul = jul.merge(brk.reset_index("HP"), on=["HP",], how="left")

In [ ]:
jul.shape

### Factor Buckets

In [ ]:
jul = assign_bkts(jul, "BM", [.3, .7, 1.])
jul[["PERMNO", "HP", "BMBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_BM_3.csv")

### Quartiles

In [ ]:
jul = assign_bkts(jul, "BM", [.25, .5, .75, 1.])
jul[["PERMNO", "HP", "BMBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_BM_4.csv")

### Quintiles

In [ ]:
jul = assign_bkts(jul, "BM", [.2, .4, .6, .8, 1.])
jul[["PERMNO", "HP", "BMBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_BM_5.csv")

### Deciles

In [ ]:
jul = assign_bkts(jul, "BM", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])
jul[["PERMNO", "HP", "BMBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_BM_10.csv")

Let's use the decile breakpoints to check how close we get to the returns from Kenneth French's website for 10 value buckets.

In [ ]:
df = df.merge(jul[["PERMNO", "HP", "BMBkt"]], on=["PERMNO", "HP"], how="left")  # could use inner here

In [ ]:
((df.BMBkt.isna()) & (~df.BMOK)).sum() / df.PERMNO.count()

In [ ]:
df["BktSize"] = df[df.BMOK].groupby(["BMBkt", "date"]).Size.transform("sum")  # dplyr `mutate`
df["WtRET"] = df.Size * df.RET / df.BktSize
bkt = df[df.BMOK].groupby(["BMBkt", "date"]).WtRET.sum()

In [ ]:
# 0.83, 0.95, 0.98, 0.92, 0.95, 1.06, 1.00, 1.11, 1.25, 1.30

In [ ]:
(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
brk = df[["date", "BMm"]][(df.EXCHCD==1) & (df.BMmOK)].groupby("date").quantile(pd.np.array(range(1, 21))/20).unstack()
brk.columns = brk.columns.droplevel(0)

In [ ]:
brk["1963-07":].head(n=10)

In [ ]:
brk.to_csv("C:/Data/Thesis/Brks_BMm.csv")  # column headers are decimals, potential floating point precision garbage

In [ ]:
df.columns

In [ ]:
df = df.merge(brk.reset_index("date"), on="date", how="left")

### Factor Buckets

In [ ]:
prb = assign_bkts(df.loc[:,["PERMNO", "date", "BMm", .3, .7, 1.]], "BMm", [.3, .7, 1.])

In [ ]:
prb[["PERMNO", "date", "BMmBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_BMm_3.csv")

### Quartiles

In [ ]:
prb = assign_bkts(df.loc[:,["PERMNO", "date", "BMm", .25, .5, .75, 1.]], "BMm", [.25, .5, .75, 1.])

In [ ]:
prb[["PERMNO", "date", "BMmBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_BMm_4.csv")

### Quintiles

In [ ]:
prb = assign_bkts(df.loc[:,["PERMNO", "date", "BMm", .2, .4, .6, .8, 1.]], "BMm", [.2, .4, .6, .8, 1.])

In [ ]:
prb[["PERMNO", "date", "BMmBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_BMm_5.csv")

### Deciles

In [ ]:
prb = assign_bkts(df.loc[:,["PERMNO", "date", "BMm", .1, .2, .3, .4, .5, .6, .7, .8, .9, 1.]], "BMm", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])

In [ ]:
prb[["PERMNO", "date", "BMmBkt"]].set_index("date").to_csv("C:/Data/Thesis/Bkts_BMm_10.csv")

I am not aware of a monthly Book-to-Market return file.
Asness and his pals have a monthly Book-to-Price.
Nevertheless, we can still check the returns.

In [ ]:
df = df.merge(prb[["PERMNO", "date", "BMmBkt"]], on=["PERMNO", "date"], how="left")

In [ ]:
df = df.drop(pd.np.array(range(1, 21))/20, axis=1)

In [ ]:
df.BMmBkt.isna().sum() / df.PERMNO.count()

**`L1_ME` instead of `Size` here**.

In [ ]:
df["BktSize"] = df[df.BMmOK].groupby(["BMmBkt", "date"]).L1_ME.transform("sum")  # dplyr `mutate`

df["WtRET"] = df.L1_ME * df.RET / df.BktSize

bkt = df[df.BMmOK].groupby(["BMmBkt", "date"]).WtRET.sum()

Seems sensible.

In [ ]:
(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

## Profit

In [ ]:
jul = df[["PERMNO", "HP", "EXCHCD", "OP06", "OP06OK"]][df.date.dt.month==7]

In [ ]:
nyse = jul[(jul.EXCHCD==1) & (jul.OP06OK)]

In [ ]:
grp = nyse[["HP", "OP06"]].groupby("HP")  # grouped objects perform operations on the grouped column/variable
del nyse
brk = grp.quantile(pd.np.array(range(1, 21))/20).unstack()  # 5% to 100% in 5% increments
#brk = brk.reset_index("date")  # grab the date column out of the index
#brk["HP"] = brk.date.dt.year + 1  # create holding period from the date
#brk = brk.drop("date", axis=1).set_index("HP")  # we don't want the date column anymore
brk.columns = brk.columns.droplevel(0)  # drop the needless "ME" top-level column index

In [ ]:
brk.head(n=10)

Writing this to a file means we can check it later or use breakpoints from Kennth French later if we have a lot of troubles.

In [ ]:
brk.to_csv("C:/Data/Thesis/Brks_OP06.csv")  # column headers are decimals, potential floating point precision garbage

NYSE breakpoints are used to assign _all_ stocks to $Size$ buckets.

In [ ]:
jul = jul.merge(brk.reset_index("HP"), on=["HP",], how="left")

In [ ]:
jul.shape

### Factor Buckets

In [ ]:
jul = assign_bkts(jul, "OP06", [.3, .7, 1.])
jul[["PERMNO", "HP", "OP06Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP06_3.csv")

### Quartiles

In [ ]:
jul = assign_bkts(jul, "OP06", [.25, .5, .75, 1.])
jul[["PERMNO", "HP", "OP06Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP06_4.csv")

### Quintiles

In [ ]:
jul = assign_bkts(jul, "OP06", [.2, .4, .6, .8, 1.])
jul[["PERMNO", "HP", "OP06Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP06_5.csv")

### Deciles

In [ ]:
jul = assign_bkts(jul, "OP06", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])
jul[["PERMNO", "HP", "OP06Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP06_10.csv")

Let's use the decile breakpoints to check how close we get to the returns from Kenneth French's website for 10 value buckets.

In [ ]:
df = df.merge(jul[["PERMNO", "HP", "OP06Bkt"]], on=["PERMNO", "HP"], how="left")  # could use inner here

In [ ]:
((df.OP06Bkt.isna()) & (~df.OP06OK)).sum()  / df.PERMNO.count()

In [ ]:
df["BktSize"] = df[df.OP06OK].groupby(["OP06Bkt", "date"]).Size.transform("sum")  # dplyr `mutate`
df["WtRET"] = df.Size * df.RET / df.BktSize
bkt = df[df.OP06OK].groupby(["OP06Bkt", "date"]).WtRET.sum()

Not bad :)

In [ ]:
# 0.74, 0.84, 0.87, 0.89, 0.94, 0.93, 0.90, 1.01, 1.06, 0.99

In [ ]:
(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
jul = df[["PERMNO", "HP", "EXCHCD", "OP16", "OP06OK"]][df.date.dt.month==7]

In [ ]:
nyse = jul[(jul.EXCHCD==1) & (jul.OP06OK)]

In [ ]:
grp = nyse[["HP", "OP16"]].groupby("HP")  # grouped objects perform operations on the grouped column/variable
del nyse
brk = grp.quantile(pd.np.array(range(1, 21))/20).unstack()  # 5% to 100% in 5% increments
#brk = brk.reset_index("date")  # grab the date column out of the index
#brk["HP"] = brk.date.dt.year + 1  # create holding period from the date
#brk = brk.drop("date", axis=1).set_index("HP")  # we don't want the date column anymore
brk.columns = brk.columns.droplevel(0)  # drop the needless "ME" top-level column index

In [ ]:
brk.head(n=10)

In [ ]:
brk.to_csv("C:/Data/Thesis/Brks_OP16.csv")  # column headers are decimals, potential floating point precision garbage

NYSE breakpoints are used to assign _all_ stocks to $Size$ buckets.

In [ ]:
jul = jul.merge(brk.reset_index("HP"), on=["HP",], how="left")

jul.shape

### Factor Buckets

In [ ]:
jul = assign_bkts(jul, "OP16", [.3, .7, 1.])
jul[["PERMNO", "HP", "OP16Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP16_3.csv")

### Quartiles

In [ ]:
jul = assign_bkts(jul, "OP16", [.25, .5, .75, 1.])
jul[["PERMNO", "HP", "OP16Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP16_4.csv")

### Quintiles

In [ ]:
jul = assign_bkts(jul, "OP16", [.2, .4, .6, .8, 1.])
jul[["PERMNO", "HP", "OP16Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP16_5.csv")

### Deciles

In [ ]:
jul = assign_bkts(jul, "OP16", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])
jul[["PERMNO", "HP", "OP16Bkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_OP16_10.csv")

In [ ]:
df = df.merge(jul[["PERMNO", "HP", "OP16Bkt"]], on=["PERMNO", "HP"], how="left")  # could use inner here

In [ ]:
((df.OP16Bkt.isna()) & (~df.OP06OK)).sum()  / df.PERMNO.count()

In [ ]:
df["BktSize"] = df[df.OP06OK].groupby(["OP16Bkt", "date"]).Size.transform("sum")  # dplyr `mutate`
df["WtRET"] = df.Size * df.RET / df.BktSize
bkt = df[df.OP06OK].groupby(["OP16Bkt", "date"]).WtRET.sum()

(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
jul = df[["PERMNO", "HP", "EXCHCD", "CP", "OP06OK"]][df.date.dt.month==7]

In [ ]:
nyse = jul[(jul.EXCHCD==1) & (jul.OP06OK)]

In [ ]:
grp = nyse[["HP", "CP"]].groupby("HP")  # grouped objects perform operations on the grouped column/variable
del nyse
brk = grp.quantile(pd.np.array(range(1, 21))/20).unstack()  # 5% to 100% in 5% increments
#brk = brk.reset_index("date")  # grab the date column out of the index
#brk["HP"] = brk.date.dt.year + 1  # create holding period from the date
#brk = brk.drop("date", axis=1).set_index("HP")  # we don't want the date column anymore
brk.columns = brk.columns.droplevel(0)  # drop the needless "ME" top-level column index

In [ ]:
brk.head(n=10)

In [ ]:
brk.to_csv("C:/Data/Thesis/Brks_CP.csv")  # column headers are decimals, potential floating point precision garbage

NYSE breakpoints are used to assign _all_ stocks to $Size$ buckets.

In [ ]:
jul = jul.merge(brk.reset_index("HP"), on=["HP",], how="left")

jul.shape

### Factor Buckets

In [ ]:
jul = assign_bkts(jul, "CP", [.3, .7, 1.])
jul[["PERMNO", "HP", "CPBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_CP_3.csv")

### Quartiles

In [ ]:
jul = assign_bkts(jul, "CP", [.25, .5, .75, 1.])
jul[["PERMNO", "HP", "CPBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_CP_4.csv")

### Quintiles

In [ ]:
jul = assign_bkts(jul, "CP", [.2, .4, .6, .8, 1.])
jul[["PERMNO", "HP", "CPBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_CP_5.csv")

### Deciles

In [ ]:
jul = assign_bkts(jul, "CP", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])
jul[["PERMNO", "HP", "CPBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_CP_10.csv")

In [ ]:
df = df.merge(jul[["PERMNO", "HP", "CPBkt"]], on=["PERMNO", "HP"], how="left")  # could use inner here

In [ ]:
((df.CPBkt.isna()) & (~df.OP06OK)).sum()  / df.PERMNO.count()

In [ ]:
df["BktSize"] = df[df.OP06OK].groupby(["CPBkt", "date"]).Size.transform("sum")  # dplyr `mutate`
df["WtRET"] = df.Size * df.RET / df.BktSize
bkt = df[df.OP06OK].groupby(["CPBkt", "date"]).WtRET.sum()

(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

## Investment

In [ ]:
jul = df[["PERMNO", "HP", "EXCHCD", "Inv", "ME_Jun"]][df.date.dt.month==7]

In [ ]:
nyse = jul[(jul.EXCHCD==1) & (~jul.ME_Jun.isna()) & (~jul.Inv.isna())]

In [ ]:
grp = nyse[["HP", "Inv"]].groupby("HP")  # grouped objects perform operations on the grouped column/variable
del nyse
brk = grp.quantile(pd.np.array(range(1, 21))/20).unstack()  # 5% to 100% in 5% increments
#brk = brk.reset_index("date")  # grab the date column out of the index
#brk["HP"] = brk.date.dt.year + 1  # create holding period from the date
#brk = brk.drop("date", axis=1).set_index("HP")  # we don't want the date column anymore
brk.columns = brk.columns.droplevel(0)  # drop the needless "ME" top-level column index

In [ ]:
brk.head(n=10)

Writing this to a file means we can check it later or use breakpoints from Kennth French later if we have a lot of troubles.

In [ ]:
brk.to_csv("C:/Data/Thesis/Brks_Inv.csv")  # column headers are decimals, potential floating point precision garbage

NYSE breakpoints are used to assign _all_ stocks to $Size$ buckets.

In [ ]:
jul = jul.merge(brk.reset_index("HP"), on=["HP",], how="left")

In [ ]:
jul.shape

### Factor Buckets

In [ ]:
jul = assign_bkts(jul, "Inv", [.3, .7, 1.])
jul[["PERMNO", "HP", "InvBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_Inv_3.csv")

### Quartiles

In [ ]:
jul = assign_bkts(jul, "Inv", [.25, .5, .75, 1.])
jul[["PERMNO", "HP", "InvBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_Inv_4.csv")

### Quintiles

In [ ]:
jul = assign_bkts(jul, "Inv", [.2, .4, .6, .8, 1.])
jul[["PERMNO", "HP", "InvBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_Inv_5.csv")

### Deciles

In [ ]:
jul = assign_bkts(jul, "Inv", [.1, .2, .3, .4, .5, .6, .7, .8, .9, 1.])
jul[["PERMNO", "HP", "InvBkt"]].set_index("HP").to_csv("C:/Data/Thesis/Bkts_Inv_10.csv")

Let's use the decile breakpoints to check how close we get to the returns from Kenneth French's website for 10 value buckets.

In [ ]:
df = df.merge(jul[["PERMNO", "HP", "InvBkt"]], on=["PERMNO", "HP"], how="left")  # could use inner here

In [ ]:
((df.InvBkt.isna()) & (~df.ME_Jun.isna())).sum()  / df.PERMNO.count()

In [ ]:
df["BktSize"] = df[(~df.ME_Jun.isna()) & (~df.Inv.isna())].groupby(["InvBkt", "date"]).Size.transform("sum")  # dplyr `mutate`
df["WtRET"] = df.Size * df.RET / df.BktSize
bkt = df[(~df.ME_Jun.isna()) & (~df.Inv.isna())].groupby(["InvBkt", "date"]).WtRET.sum()

Not bad :)

In [ ]:
# 1.14, 1.17, 1.04, 0.99, 0.96, 0.95, 0.99, 0.91, 0.99, 0.72

In [ ]:
(bkt.unstack(level=0)["1963-07":"2017-12"].mean()*100).round(2)

# Create Factors

In [ ]:
df.columns

In [ ]:
for bkt in ["ME_JunBkt", "PriorBkt", "BMBkt", "BMmBkt", "OP06Bkt", "OP16Bkt", "CPBkt", "InvBkt"]:
    try:
        df = df.drop(bkt, axis=1)
    except ValueError:
        print("{} not in df".format(bkt))

In [ ]:
for nonsense in ["COMNAM", "CUSIP", "PAYDT", "DIVAMT", "ACPERM", "VOL", "SPREAD", "vwretd", "ewretd",
                 "sprtrn", "BktSize", "WtRET", "PriorRET"]:
    try:
        df = df.drop(nonsense, axis=1)
    except ValueError:
        print("{} not in df".format(nonsense))

In [ ]:
df.columns

Size buckets are the same for each factor.

In [ ]:
size_bkts = pd.read_csv("C:/Data/Thesis/Bkts_Jun_ME_2.csv")

In [ ]:
df = df.merge(size_bkts, on=["PERMNO", "HP"], how="left")

## Value

In [ ]:
BM_bkts = pd.read_csv("C:/Data/Thesis/Bkts_BM_3.csv")

df = df.merge(BM_bkts, on=["PERMNO", "HP"], how="left")

grp, ix = ["date", "ME_JunBkt", "BMBkt"], (df.BMOK) & (~df.ME_Jun.isna())

df["BktSize"] = df[ix].groupby(grp)["Size"].transform("sum")
df["WtRET"] = df.RET * df.Size / df.BktSize
bkt = df[ix].groupby(grp).WtRET.sum()
bkt = bkt.reset_index(["ME_JunBkt", "BMBkt"])
bkt["HML"] = bkt.ME_JunBkt.astype("int").astype("str") + bkt.BMBkt.astype("int").astype("str")
bkt = bkt.pivot(columns="HML", values="WtRET")

bkt["HMLs"] = bkt["13"] - bkt["11"]
bkt["HMLb"] = bkt["23"] - bkt["21"]
bkt["HML"] = (bkt.HMLs + bkt.HMLb) / 2

HML = bkt[["HML", "HMLs", "HMLb"]]

Not bad :)

In [ ]:
# 0.91, 1.27, 1.40, 0.90, 0.93, 1.10

In [ ]:
"HMLs: {:.2f}, HMLb: {:.2f}, HML: {:.2f}".format(1.4-.91, 1.1-.9, (1.4-.91 + 1.1-.9)/2)

In [ ]:
(bkt["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
bkt["1963-07":"2017-12"].to_csv("C:/Data/Thesis/HML.csv")

In [ ]:
ME_brk = pd.read_csv("C:/Data/Thesis/Brks_Months_ME.csv")
ME_brk = ME_brk.rename(columns={"0.5": .5, "1":1.})
ME_brk.date = pd.to_datetime(ME_brk.date, format="%m/%d/%Y").astype(pd.Timestamp)

df = df.merge(ME_brk[["date", .5, 1.]], on="date", how="left")

df = assign_bkts(df, "ME", [.5, 1.])
df["L1_MEBkt"] = df.groupby("PERMNO")["MEBkt"].shift(1)
df = df.drop([.5, 1.], axis=1)

In [ ]:
BMm_bkts = pd.read_csv("C:/Data/Thesis/Bkts_BMm_3.csv")
BMm_bkts.date = pd.to_datetime(BMm_bkts.date).astype(pd.Timestamp)

df = df.merge(BMm_bkts, on=["PERMNO", "date"], how="left")

grp, ix = ["date", "L1_MEBkt", "BMmBkt"], (df.BMOK) & (~df.L1_ME.isna())

df["BktSize"] = df[ix].groupby(grp)["L1_ME"].transform("sum")
df["WtRET"] = df.RET * df.L1_ME / df.BktSize
bkt = df[ix].groupby(grp).WtRET.sum()

bkt = bkt.reset_index(["L1_MEBkt", "BMmBkt"])
bkt["HMLm"] = bkt.L1_MEBkt.astype("int").astype("str") + bkt.BMmBkt.astype("int").astype("str")
bkt = bkt.pivot(columns="HMLm", values="WtRET")

bkt["HMLms"] = bkt["13"] - bkt["11"]
bkt["HMLmb"] = bkt["23"] - bkt["21"]
bkt["HMLm"] = (bkt.HMLms + bkt.HMLmb) / 2

HMLm = bkt[["HMLm", "HMLms", "HMLmb"]]

In [ ]:
(bkt["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
bkt["1963-07":"2017-12"].to_csv("C:/Data/Thesis/HMLm.csv")

## Profit

In [ ]:
OP06_bkts = pd.read_csv("C:/Data/Thesis/Bkts_OP06_3.csv")

df = df.merge(OP06_bkts, on=["PERMNO", "HP"], how="left")

grp, ix = ["date", "ME_JunBkt", "OP06Bkt"], (df.OP06OK) & (~df.ME_Jun.isna())

df["BktSize"] = df[ix].groupby(grp)["Size"].transform("sum")
df["WtRET"] = df.RET * df.Size / df.BktSize
bkt = df[ix].groupby(grp).WtRET.sum()
bkt = bkt.reset_index(["ME_JunBkt", "OP06Bkt"])
bkt["PMU06"] = bkt.ME_JunBkt.astype("int").astype("str") + bkt.OP06Bkt.astype("int").astype("str")
bkt = bkt.pivot(columns="PMU06", values="WtRET")

bkt["PMU06s"] = bkt["13"] - bkt["11"]
bkt["PMU06b"] = bkt["23"] - bkt["21"]
bkt["PMU06"] = (bkt.PMU06s + bkt.PMU06b) / 2

PMU06 = bkt[["PMU06", "PMU06s", "PMU06b"]]

Not bad :)

In [ ]:
# 1.00, 1.24, 1.32, 0.81, 0.87, 0.99

In [ ]:
"PMU06s: {:.2f}, PMU06b: {:.2f}, PMU06: {:.2f}".format(1.32-1., .99-.81, (1.32-1. + .99-.81)/2)

In [ ]:
(bkt["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
bkt["1963-07":"2017-12"].to_csv("C:/Data/Thesis/OP06.csv")

In [ ]:
OP16_bkts = pd.read_csv("C:/Data/Thesis/Bkts_OP16_3.csv")

df = df.merge(OP16_bkts, on=["PERMNO", "HP"], how="left")

grp, ix = ["date", "ME_JunBkt", "OP16Bkt"], (df.OP06OK) & (~df.ME_Jun.isna())

df["BktSize"] = df[ix].groupby(grp)["Size"].transform("sum")
df["WtRET"] = df.RET * df.Size / df.BktSize
bkt = df[ix].groupby(grp).WtRET.sum()
bkt = bkt.reset_index(["ME_JunBkt", "OP16Bkt"])
bkt["PMU16"] = bkt.ME_JunBkt.astype("int").astype("str") + bkt.OP16Bkt.astype("int").astype("str")
bkt = bkt.pivot(columns="PMU16", values="WtRET")

bkt["PMU16s"] = bkt["13"] - bkt["11"]
bkt["PMU16b"] = bkt["23"] - bkt["21"]
bkt["PMU16"] = (bkt.PMU16s + bkt.PMU16b) / 2

PMU16 = bkt[["PMU16", "PMU16s", "PMU16b"]]

In [ ]:
(bkt["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
bkt["1963-07":"2017-12"].to_csv("C:/Data/Thesis/OP16.csv")

In [ ]:
CP_bkts = pd.read_csv("C:/Data/Thesis/Bkts_CP_3.csv")

df = df.merge(CP_bkts, on=["PERMNO", "HP"], how="left")

grp, ix = ["date", "ME_JunBkt", "CPBkt"], (df.OP06OK) & (~df.ME_Jun.isna())

df["BktSize"] = df[ix].groupby(grp)["Size"].transform("sum")
df["WtRET"] = df.RET * df.Size / df.BktSize
bkt = df[ix].groupby(grp).WtRET.sum()
bkt = bkt.reset_index(["ME_JunBkt", "CPBkt"])
bkt["PMU"] = bkt.ME_JunBkt.astype("int").astype("str") + bkt.CPBkt.astype("int").astype("str")
bkt = bkt.pivot(columns="PMU", values="WtRET")

bkt["PMUs"] = bkt["13"] - bkt["11"]
bkt["PMUb"] = bkt["23"] - bkt["21"]
bkt["PMU"] = (bkt.PMUs + bkt.PMUb) / 2

PMU = bkt[["PMU", "PMUs", "PMUb"]]

In [ ]:
(bkt["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
bkt["1963-07":"2017-12"].to_csv("C:/Data/Thesis/CP.csv")

## Investment

In [ ]:
Inv_bkts = pd.read_csv("C:/Data/Thesis/Bkts_Inv_3.csv")

df = df.merge(Inv_bkts, on=["PERMNO", "HP"], how="left")

grp, ix = ["date", "ME_JunBkt", "InvBkt"], (~df.Inv.isna()) & (~df.ME_Jun.isna())

df["BktSize"] = df[ix].groupby(grp)["Size"].transform("sum")
df["WtRET"] = df.RET * df.Size / df.BktSize
bkt = df[ix].groupby(grp).WtRET.sum()
bkt = bkt.reset_index(["ME_JunBkt", "InvBkt"])
bkt["CMA"] = bkt.ME_JunBkt.astype("int").astype("str") + bkt.InvBkt.astype("int").astype("str")
bkt = bkt.pivot(columns="CMA", values="WtRET")

bkt["CMAs"] = bkt["11"] - bkt["13"]
bkt["CMAb"] = bkt["21"] - bkt["23"]
bkt["CMA"] = (bkt.CMAs + bkt.CMAb) / 2

CMA = bkt[["CMA", "CMAs", "CMAb"]]

Not great :|

In [ ]:
# 1.33, 1.31, 0.95, 1.06, 0.94, 0.87

In [ ]:
"CMAs: {:.2f}, CMAb: {:.2f}, CMA: {:.2f}".format(1.33-.95, 1.06-.87, (1.33-.95 + 1.06-.87)/2)

In [ ]:
(bkt["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
bkt["1963-07":"2017-12"].to_csv("C:/Data/Thesis/Inv.csv")

## Prior

In [ ]:
Prior_bkts = pd.read_csv("C:/Data/Thesis/Bkts_Prior_3.csv")
Prior_bkts.date = pd.to_datetime(Prior_bkts.date).astype(pd.Timestamp)

df = df.merge(Prior_bkts, on=["PERMNO", "date"], how="left")

grp, ix = ["date", "L1_MEBkt", "PriorBkt"], (df.PriorOK) & (~df.L1_ME.isna())

df["BktSize"] = df[ix].groupby(grp)["L1_ME"].transform("sum")
df["WtRET"] = df.RET * df.L1_ME / df.BktSize
bkt = df[ix].groupby(grp).WtRET.sum()

bkt = bkt.reset_index(["L1_MEBkt", "PriorBkt"])
bkt["WML"] = bkt.L1_MEBkt.astype("int").astype("str") + bkt.PriorBkt.astype("int").astype("str")
bkt = bkt.pivot(columns="WML", values="WtRET")

bkt["WMLs"] = bkt["13"] - bkt["11"]
bkt["WMLb"] = bkt["23"] - bkt["21"]
bkt["WML"] = (bkt.WMLs + bkt.WMLb) / 2

WML = bkt[["WML", "WML", "WML"]]

Not great :|

In [ ]:
# 0.68, 1.21, 1.57, 0.73, 0.84, 1.16

In [ ]:
"WMLs: {:.2f}, WMLb: {:.2f}, WML: {:.2f}".format(1.57-.68, 1.16-.73, (1.57-.68 + 1.16-.73) / 2)

In [ ]:
(bkt["1963-07":"2017-12"].mean()*100).round(2)

In [ ]:
bkt["1963-07":"2017-12"].to_csv("C:/Data/Thesis/WML.csv")

In [ ]:
HML.HML.head()

In [ ]:
HMLm.HMLm.head()

## Combined Factors File

In [ ]:
f = pd.concat([HML, HMLm, PMU06, PMU16, PMU, CMA, WML], axis=1)["1963-07":"2017-12"]

In [ ]:
f.to_csv("C:/Data/Thesis/_MyFactors.csv")

# Size-BMm-Prior Sorts

In [119]:
size_bkts = pd.read_csv("C:/Data/Thesis/Bkts_Jun_ME_2.csv")

df = df.merge(size_bkts, on=["PERMNO", "HP"], how="left")

## Small

In [176]:
sub_df = df[df.ME_JunBkt==1]

sub_df.shape

(2370047, 40)

Monthly value and prior buckets are assigned within size buckets.

In [177]:
brk = sub_df[["date", "BMm"]][(sub_df.EXCHCD==1) & (sub_df.BMmOK)].groupby("date")
brk = brk.quantile(pd.np.array(range(1, 21))/20).unstack()
brk.columns = brk.columns.droplevel(0)

brk.to_csv("C:/Data/Thesis/Brks_Small_BMm.csv")  # column headers are decimals, potential floating point precision garbage

sub_df = sub_df.merge(brk.reset_index("date"), on="date", how="left")

sub_df = assign_bkts(sub_df, "BMm", [.25, .5, .75, 1.])

sub_df = sub_df.drop(pd.np.array(range(1, 21))/20, axis=1)

In [178]:
brk = sub_df[["date", "Prior"]][(sub_df.EXCHCD==1) & (sub_df.PriorOK)].groupby("date")
brk = brk.quantile(pd.np.array(range(1, 21))/20).unstack()
brk.columns = brk.columns.droplevel(0)

brk.to_csv("C:/Data/Thesis/Brks_Small_Prior.csv")  # column headers are decimals, potential floating point precision garbage

sub_df = sub_df.merge(brk.reset_index("date"), on="date", how="left")

sub_df = assign_bkts(sub_df, "Prior", [.25, .5, .75, 1.])

sub_df = sub_df.drop(pd.np.array(range(1, 21))/20, axis=1)

Small returns

In [179]:
grp, ix = ["date", "BMmBkt", "PriorBkt"], ((sub_df.BMmOK) & (sub_df.Prior))

sub_df["BktSize"] = sub_df[ix].groupby(grp)["L1_ME"].transform("sum")
sub_df["WtRET"] = sub_df.RET * sub_df.L1_ME / sub_df.BktSize
bkt = sub_df[ix].groupby(grp).WtRET.sum()
bkt = bkt.reset_index(grp[1:])
bkt[grp[1]+grp[2]] = "S" + bkt[grp[1]].astype("int").astype("str") + bkt[grp[2]].astype("int").astype("str")
small_bkt = bkt.pivot(columns=grp[1]+grp[2], values="WtRET")

## Big

In [180]:
sub_df = df[df.ME_JunBkt==2]

sub_df.shape

(581661, 40)

Monthly value and prior buckets are assigned within size buckets.

In [181]:
brk = sub_df[["date", "BMm"]][(sub_df.EXCHCD==1) & (sub_df.BMmOK)].groupby("date")
brk = brk.quantile(pd.np.array(range(1, 21))/20).unstack()
brk.columns = brk.columns.droplevel(0)

brk.to_csv("C:/Data/Thesis/Brks_Big_BMm.csv")  # column headers are decimals, potential floating point precision garbage

sub_df = sub_df.merge(brk.reset_index("date"), on="date", how="left")

sub_df = assign_bkts(sub_df, "BMm", [.25, .5, .75, 1.])

sub_df = sub_df.drop(pd.np.array(range(1, 21))/20, axis=1)

In [182]:
brk = sub_df[["date", "Prior"]][(sub_df.EXCHCD==1) & (sub_df.PriorOK)].groupby("date")
brk = brk.quantile(pd.np.array(range(1, 21))/20).unstack()
brk.columns = brk.columns.droplevel(0)

brk.to_csv("C:/Data/Thesis/Brks_Big_Prior.csv")  # column headers are decimals, potential floating point precision garbage

sub_df = sub_df.merge(brk.reset_index("date"), on="date", how="left")

sub_df = assign_bkts(sub_df, "Prior", [.25, .5, .75, 1.])

sub_df = sub_df.drop(pd.np.array(range(1, 21))/20, axis=1)

Big returns

In [184]:
grp, ix = ["date", "BMmBkt", "PriorBkt"], ((sub_df.BMmOK) & (sub_df.Prior))

sub_df["BktSize"] = sub_df[ix].groupby(grp)["L1_ME"].transform("sum")
sub_df["WtRET"] = sub_df.RET * sub_df.L1_ME / sub_df.BktSize
bkt = sub_df[ix].groupby(grp).WtRET.sum()
bkt = bkt.reset_index(grp[1:])
bkt[grp[1]+grp[2]] = "B" + bkt[grp[1]].astype("int").astype("str") + bkt[grp[2]].astype("int").astype("str")
big_bkt = bkt.pivot(columns=grp[1]+grp[2], values="WtRET")

## Combined 32 Buckets

In [189]:
bkt = small_bkt.reset_index("date").merge(big_bkt.reset_index("date"), how="left")

In [192]:
(bkt.set_index("date", drop=True)*100).to_csv("C:/Data/Thesis/32_Portfolios_BMm_Prior.csv")